@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*HTML*/
body {
    width: 100%; 
}

/*Seção do Header*/
header {
    background-color: #CF2B2B;
    color:#fff;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 8px 21px 18px 21px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*Seção do main*/
main {
    background-color: #eee;
    padding: 31px 0 16px 19px;
    margin-top: 102px;
    margin-bottom: 92px;
}

.menu > li {
    margin-bottom: 27px;
}

.menu > li:last-child {
    margin-bottom: 0;
}

.menu-cards {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.menu-card {
    background-color: #fff;
    box-shadow: 0px 0px 10px -4px #00000040;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin: 17px 16px 0 0;
    padding: 18px 14px 13px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-card > img {
    border-radius: 4px;
    height: 87px;
    width: 144px;
}

.menu-card-description {
    color: #A6A6A6;
}

.menu-card-price:before {
    content:"R$ ";
}

/*Seção do Botão de Confirmação*/
.confirmation {
    background-color: #fff;
    height: 92px;
    width: 100%;
    padding: 15px 25px 16px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.confirmation-btn {
    background-color: #32b72f;
    color: #fff;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    margin: auto;
}