/*Fonts*/
.righteous {
    font-family: 'Righteous', cursive;
}
.roboto-300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}  
.roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
.fs-44 {
    font-size: 44px;
}
.fs-26 {
    font-size: 26px;
}
.fs-20 {
    font-size: 20px;
}
.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}
.fs-15 {
    font-size: 15px;
}
.lh-55 {
    line-height: 55px;
}
.lh-32 {
    line-height: 32px;
}
.lh-23 {
    line-height: 23px;
}
.lh-21 {
    line-height: 21px;
}
.lh-19 {
    line-height: 19px;
}
.lh-18 {
    line-height: 18px;
}